:root {
  --section-gap: 6rem;
  --section-gap-inner: calc( var(--section-gap) * 0.75 );
  --gap-xl: 6rem;
  --gap-l: 5rem;
  --gap-xm: 4rem;
  --gap-m: 3rem;
  --gap-s: 2rem;
  --gap-xs: 1rem;
  --color-dark: #2B3135;
  --color-dark-200: #3F4A53;
  --color-dark-300: #435665;
  --color-dark-350: #51616d;
  --color-dark-500: #888;
  --color-dark-600: #999;
  --color-dark-700: #b5b5b5;
  --color-dark-800: #d5d5d5;
  --color-dark-900: #f1f1f1e2;
  --color-accent: #FD3E1D;
  --color-accent-200: #0584FF;
  --color-accent-300: hsl(9, 98%, 61%);
  --color-accent-400: hsl(210, 100%, 61%);
  --color-light: #fff;
  --color-light-100: rgb(229, 229, 229);
  --color-light-200: #ffffff1a;
  --color-light-300: #2b31356a;
  --font-sans-title: "Abolition", sans-serif;
  --font-sans: "Industry", sans-serif;
  --line-height: 1.5;
  --font-scale: 1.25;
  --font-size: 1rem;
  --font-size-1: var(--font-size);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
  --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
  --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
  --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
  --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
  --page-inner: 100rem;
  --grid-container: [full-start] minmax(2rem, 1fr) [inner-start] minmax(0, var(--page-inner)) [inner-end] minmax(2rem, 1fr) [full-end];
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--font-sans);
  font-size: var(--font-size-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 2px;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-dark-200);
  font-family: var(--font-sans-title);
  font-style: oblique;
  font-weight: 400;
}

h1 {
  line-height: 1.1;
  padding-bottom: 0;
  color: var(--color-light);
  font-size: clamp(2.8125rem, 1.5357rem + 5.2381vw, 6.25rem);
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-3);
}

h6 {
  font-size: clamp(0.75rem, 0.6571rem + 0.381vw, 1rem);
  font-family: var(--font-sans);
  font-style: normal;
}

p {
  line-height: var(--line-height);
  color: var(--color-dark-200);
}

a {
  color: var(--color-light);
  text-decoration: none;
  font-style: oblique;
  font-family: var(--font-sans-title);
  font-size: var(--font-size-3);
}
a:hover {
  color: var(--color-accent);
}

li {
  line-height: var(--line-height);
  font-size: var(--font-size-2);
  font-family: var(--font-sans-title);
  list-style: none;
}

figure {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  height: 175px;
  width: 100%;
  display: grid;
  grid-template-columns: var(--grid-container);
  z-index: 999;
  background-color: transparent;
  transition: background-color 0.8s ease-in-out;
}
.header__inner {
  grid-column: inner;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo svg {
  height: 120px;
  width: 100%;
  margin-top: 32px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  gap: var(--gap-s);
}
.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}
@media screen and (max-width: 53rem) {
  .menu__list {
    display: none;
  }
}
.menu__link {
  transition: all 0.2s;
}
.menu__link:hover {
  color: var(--color-light-100);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-color: var(--color-accent);
}
.menu .menu-button {
  height: 30px;
  width: 30px;
  position: relative;
  background: none;
  padding: 0;
  border: 0;
  border-radius: 0;
}
.menu .menu-button:focus:hover .menu-button__hamburger, .menu .menu-button--close:hover .menu-button__hamburger {
  transition: transform 0.2s 0.2s;
  transform: rotate(45deg) translate(-50%, -50%);
}
.menu .menu-button:focus:hover .menu-button__hamburger:before, .menu .menu-button--close:hover .menu-button__hamburger:before {
  transition: top 0.2s, transform 0.2s 0.2s;
  transform: rotate(90deg);
  top: 0;
}
.menu .menu-button:focus:hover .menu-button__hamburger:after, .menu .menu-button--close:hover .menu-button__hamburger:after {
  transition: width 0.2s;
  width: 0;
}
.menu .menu-button__hamburger {
  transform-origin: left top;
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50%;
  left: 80%;
  transition: transform 0.2s;
  transform: translate(-50%, 50%) rotate(0);
  background-color: var(--color-light);
}
.menu .menu-button__hamburger:before, .menu .menu-button__hamburger:after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  height: 1px;
  width: 100%;
  background-color: var(--color-light);
}
.menu .menu-button__hamburger:before {
  transition: top 0.2s 0.2s, transform 0.2s;
}
.menu .menu-button__hamburger:after {
  top: 10px;
  width: 100%;
  transition: width 0.2s 0.2s;
}

.sidebar {
  display: grid;
  max-width: 300px;
  width: 100%;
  background-color: var(--color-dark);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: all 0.4s;
}
@media screen and (max-width: 53rem) {
  .sidebar {
    max-width: 100%;
  }
}
.sidebar a {
  color: var(--color-light);
}
.sidebar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar--open {
  display: grid;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.sidebar__inner {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 53rem) {
  .sidebar__link {
    font-size: var(--font-size-4);
  }
}
.sidebar__link:hover {
  color: var(--color-light-100);
  transition: all 0.2s;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-color: var(--color-accent);
}
.sidebar__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar__item {
  padding: var(--gap-xs);
}

.footer {
  background-color: var(--color-dark);
  width: 100%;
  display: grid;
  grid-template-columns: var(--grid-container);
}
.footer__inner {
  grid-column: inner;
  width: 100%;
}
.footer__brandning {
  display: block;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 28rem) {
  .footer__brandning {
    display: flex;
    justify-content: center;
    margin-bottom: -2rem;
  }
}
.footer__section {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 50px;
}
@media screen and (max-width: 54rem) {
  .footer__section {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 28rem) {
  .footer__section {
    display: grid;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 54rem) {
  .footer__content {
    padding-top: 5rem;
  }
}
.footer__content p {
  color: var(--color-light);
  line-height: 1;
  font-size: clamp(0.75rem, 0.6571rem + 0.381vw, 1rem);
}
.footer__links li {
  font-family: var(--font-sans);
  font-style: normal;
  line-height: 3;
  font-size: clamp(0.75rem, 0.6571rem + 0.381vw, 1rem);
}
.footer__links li:hover {
  transition: all 0.4s;
  color: var(--color-accent);
}
@media screen and (max-width: 67rem) {
  .footer__links li {
    line-height: 2;
  }
}
@media screen and (max-width: 29rem) {
  .footer__links li {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
.footer__media {
  display: flex;
  justify-content: end;
  gap: var(--gap-xs);
}
@media screen and (max-width: 742px) {
  .footer__media {
    display: flex;
    justify-content: start;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 28rem) {
  .footer__socials {
    display: flex;
    gap: 3rem;
  }
}
.footer__social {
  margin-bottom: 5rem;
}
@media screen and (max-width: 67rem) {
  .footer__social {
    display: flex;
    width: 200px;
    margin-bottom: 1rem;
  }
}
.footer__social img {
  height: 65px;
  width: 100%;
}
.footer__social-f:hover, .footer__social-i:hover {
  opacity: 0.3;
  transition: all 0.3s;
}
.footer__bottom p {
  color: var(--color-dark-500);
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: clamp(0.75rem, 0.6571rem + 0.381vw, 1rem);
}

.about {
  display: grid;
  grid-template-columns: var(--grid-container);
}
.about__inner {
  grid-column: inner;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--gap-l) 0 var(--gap-l) 0;
  gap: 4rem;
}
@media screen and (max-width: 78rem) {
  .about__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    grid-gap: 20px;
  }
}
@media screen and (max-width: 70rem) {
  .about__inner {
    display: inline-block;
    justify-content: space-between;
  }
}
.about__button {
  position: absolute;
  z-index: 2;
  right: 11px;
  bottom: 13px;
  background-color: transparent;
}
.about__card {
  display: block;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  width: 100%;
  border: 2px solid transparent;
}
.about__card h2,
.about__card h5,
.about__card h6 {
  margin-left: var(--gap-m);
  margin-bottom: -30px;
}
@media screen and (max-width: 31rem) {
  .about__card h2 {
    font-size: var(--font-size-6);
  }
}
.about__card h5 {
  line-height: 0.5;
  margin-bottom: -40px;
}
@media screen and (max-width: 31rem) {
  .about__card h5 {
    font-size: var(--font-size-2);
    padding-top: 1rem;
    padding-bottom: 10px;
  }
}
.about__card h6 {
  color: var(--color-dark-500);
}
.about__card h6::before {
  content: "*";
}
@media screen and (max-width: 59rem) {
  .about__card h6 {
    font-size: 14px;
    padding-top: 0.5rem;
  }
}
.about__card--1 {
  background-color: var(--color-dark-200);
  position: relative;
  overflow: hidden;
}
.about__card--1 h2 {
  color: var(--color-light);
}
.about__card--1 h2::after {
  content: "*";
}
.about__card--1 h5 {
  color: var(--color-light);
  opacity: 0.8;
}
.about__card--1:hover {
  background-color: transparent;
  border: 2px solid var(--color-dark-350);
  transition: all 0.2s;
}
.about__card--1:hover h2,
.about__card--1:hover h5 {
  color: var(--color-dark-200);
}
.about__card--1::after {
  content: "";
  display: block;
  width: 130px;
  height: 130px;
  background: var(--color-accent-200);
  position: absolute;
  transform: rotate(45deg);
  transform-origin: bottom left;
  right: -40px;
  bottom: 0;
  transition: var(--color-accent-200) 0.5s;
}
.about__card--2 {
  background-color: rgba(63, 74, 83, 0.1);
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
.about__card--2 h2 {
  color: var(--color-accent);
}
.about__card--2 h5 {
  color: var(--color-dark-200);
}
.about__card--2:hover {
  background-color: transparent;
  border: 2px solid var(--color-dark-300);
  transition: all 0.2s;
}
.about__card--2:hover h2 {
  color: var(--color-accent);
}
.about__card--2:hover h5 {
  color: var(--color-dark-200);
}
.about__card--2::after {
  content: "";
  display: block;
  width: 130px;
  height: 130px;
  background: var(--color-dark-800);
  position: absolute;
  transform: rotate(45deg);
  transform-origin: bottom left;
  right: -40px;
  bottom: 0;
  transition: var(--color-dark-800) 0.5s;
}
.about__card--3 {
  background-color: rgba(63, 74, 83, 0.1);
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
.about__card--3 h2 {
  color: var(--color-dark-200);
}
.about__card--3 h5 {
  color: var(--color-dark-200);
  opacity: 0.6;
}
.about__card--3:hover {
  background-color: transparent;
  border: 2px solid var(--color-dark-300);
  transition: all 0.2s;
}
.about__card--3:hover h2 {
  color: var(--color-dark-200);
}
.about__card--3:hover h5 {
  color: var(--color-dark-200);
}
.about__card--3::after {
  content: "";
  display: block;
  width: 130px;
  height: 130px;
  background: var(--color-dark-800);
  position: absolute;
  transform: rotate(45deg);
  transform-origin: bottom left;
  right: -40px;
  bottom: 0;
  transition: var(--color-dark-800) 0.5s;
}
.news {
  display: grid;
  grid-template-columns: var(--grid-container);
}
.news__inner {
  grid-column: inner;
  width: 100%;
}
.news__inner h3 {
  font-size: clamp(2.5rem, 2.0357rem + 1.9048vw, 3.75rem);
  line-height: 0;
}
@media screen and (max-width: 25rem) {
  .news__inner h3 {
    margin-top: 20px;
  }
}
.news__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-s);
}
@media screen and (max-width: 78rem) {
  .news__gallery {
    display: block;
  }
}
.news__date {
  line-height: 0;
  margin-top: 3rem;
}
@media screen and (max-width: 75rem) {
  .news__date {
    margin-top: 5rem;
  }
}
.news__title {
  margin-top: -10px;
}
.news__article h2 {
  font-size: clamp(2.25rem, 1.6929rem + 2.2857vw, 3.75rem);
}
.news__article-big {
  grid-row: span 2;
  grid-column: span 2;
  max-width: 1000px;
  width: 100%;
}
.news__article-big p {
  padding-top: var(--gap-xs);
  max-width: 900px;
}
.news__article-small {
  grid-column: 3;
  width: 100%;
}
.news__article-small h3 {
  font-size: clamp(1.875rem, 1.6429rem + 0.9524vw, 2.5rem);
  max-width: 400px;
  line-height: 1.3;
}
@media screen and (max-width: 25rem) {
  .news__article-small h3 {
    line-height: 1;
  }
}
.news__article-small p {
  padding-top: var(--gap-xs);
}
.news__buttons {
  padding-top: var(--gap-xs);
  padding-bottom: var(--gap-s);
}
@media screen and (max-width: 75rem) {
  .news__buttons {
    margin-bottom: -1.5rem;
  }
}
@media screen and (max-width: 31rem) {
  .news__buttons {
    margin-bottom: -2rem;
  }
}
.news__button--readmore {
  background-color: var(--color-accent);
  color: var(--color-light);
  padding: 0.5rem 1.5rem;
  transform: skew(-10deg);
  border: 2px solid transparent;
  font-size: var(--font-size-3);
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
}
.news__button--readmore:hover {
  background-color: transparent;
  color: var(--color-dark);
  border: 2px solid var(--color-dark);
  transition: all 0.3s;
}
.news__button--share {
  color: var(--color-dark);
  padding-left: var(--gap-xs);
  font-size: var(--font-size-3);
}
.news__button--share:hover {
  transition: all 0.3s;
}

.strip {
  display: grid;
  grid-template-columns: var(--grid-container);
  padding-top: var(--gap-m);
  padding-bottom: var(--gap-s);
}
.strip__inner {
  grid-column: inner;
  width: 100%;
}
.strip__content {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.strip__content::after {
  content: "";
  display: block;
  width: 130px;
  height: 130px;
  background: var(--color-accent-200);
  position: absolute;
  transform: rotate(45deg);
  transform-origin: bottom left;
  right: -40px;
  bottom: 0;
  transition: var(--color-accent-200) 0.5s;
}
.strip__text {
  position: absolute;
  padding-left: var(--gap-l);
  padding-right: var(--gap-s);
}
@media screen and (max-width: 53rem) {
  .strip__text {
    padding-top: var(--gap-m);
    padding-left: var(--gap-m);
    padding-bottom: var(--gap-m);
    line-height: 1.2;
  }
}
.strip__text h2 {
  color: var(--color-light);
  font-size: clamp(1.5625rem, 0.75rem + 3.3333vw, 3.75rem);
}
.strip__text h3 {
  font-size: clamp(1.125rem, 0.6143rem + 2.0952vw, 2.5rem);
  color: var(--color-light);
  margin-top: -2rem;
}
@media screen and (max-width: 40rem) {
  .strip__text h3 {
    display: none;
  }
}
.strip__button {
  position: absolute;
  z-index: 2;
  right: 11px;
  bottom: 13px;
  background-color: transparent;
}

.opening {
  display: grid;
  grid-template-columns: var(--grid-container);
  padding-bottom: var(--section-gap);
}
.opening__inner {
  grid-column: inner;
}
.opening__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--gap-m);
  padding-bottom: var(--gap-l);
}
@media screen and (max-width: 53rem) {
  .opening__header {
    padding-top: var(--gap-xs);
  }
}
.opening__button a {
  margin-left: 20px;
  background-color: var(--color-accent);
  color: var(--color-light);
  padding: 1rem 2rem;
  transform: skew(-10deg);
  border: 2px solid transparent;
  font-size: var(--font-size-4);
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
}
.opening__button a:hover {
  background-color: transparent;
  color: var(--color-dark);
  border: 2px solid var(--color-dark);
  transition: all 0.3s;
}
@media screen and (max-width: 53rem) {
  .opening__button a {
    font-size: var(--font-size-3);
  }
}
@media screen and (max-width: 43rem) {
  .opening__button a {
    font-size: var(--font-size-2);
  }
}
@media screen and (max-width: 34rem) {
  .opening__button a {
    display: none;
  }
}
.opening__menu {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}
.opening__menu h3 {
  font-size: clamp(2.5rem, 2.0357rem + 1.9048vw, 3.75rem);
  line-height: 0;
}
.opening__menu h4 {
  color: var(--color-accent-200);
  font-size: clamp(1.25rem, 0.9714rem + 1.1429vw, 2rem);
  opacity: 80%;
  margin-bottom: 20px;
}
.opening__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-l);
  margin-top: -30px;
}
@media screen and (max-width: 78rem) {
  .opening__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    grid-gap: 20px;
  }
}
.opening__card {
  max-height: 600px;
  width: 100%;
  padding: 1rem 2rem;
}
.opening__card h3 {
  font-size: var(--font-size-6);
  padding-left: 2rem;
  color: var(--color-light);
}
@media screen and (max-width: 33rem) {
  .opening__card h3 {
    font-size: var(--font-size-5);
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
}
.opening__card li {
  font-family: var(--font-sans);
  color: var(--color-light);
  font-size: clamp(0.875rem, 0.7357rem + 0.5714vw, 1.25rem);
  font-weight: 600;
  line-height: 2.5;
}
.opening__card p {
  font-size: 10px;
  color: var(--color-light);
  margin-top: 1.5rem;
}
.opening__card span {
  font-weight: 100;
}
.opening__days {
  display: flex;
  justify-content: space-around;
  text-align: start;
}
.opening__card-1 {
  margin-top: -2rem;
  background-color: var(--color-dark-200);
  position: relative;
  overflow: hidden;
}
.opening__card-1 .opening__days:nth-of-type(5) {
  color: var(--color-accent);
}
.opening__card-1::after {
  content: "";
  display: block;
  width: 130px;
  height: 130px;
  background: var(--color-light-200);
  position: absolute;
  transform: rotate(45deg);
  transform-origin: bottom left;
  right: -40px;
  top: -130px;
  transition: var(--color-light-200) 0.5s;
}
.opening__card-2 {
  margin-top: -2rem;
}
.opening__card-2 .opening__days:nth-of-type(5) {
  color: var(--color-accent-200);
}
.opening__card-2 h3 {
  font-size: var(--font-size-6);
  color: var(--color-dark);
}
@media screen and (max-width: 33rem) {
  .opening__card-2 h3 {
    font-size: var(--font-size-5);
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
}
.opening__card-2 li {
  font-family: var(--font-sans);
  color: var(--color-dark);
  font-weight: 600;
  line-height: 2.5;
}
.opening__card-3 {
  margin-top: -2rem;
}
.opening__card-3 .opening__days:nth-of-type(5) {
  color: var(--color-accent-200);
}
.opening__card-3 h3 {
  font-size: var(--font-size-6);
  color: var(--color-dark);
}
@media screen and (max-width: 33rem) {
  .opening__card-3 h3 {
    font-size: var(--font-size-5);
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
}
.opening__card-3 li {
  font-family: var(--font-sans);
  color: var(--color-dark);
  font-weight: 600;
  line-height: 2.5;
}
.opening__days--bg {
  background-color: rgba(255, 255, 255, 0.047);
}
.opening__days--bg-2 {
  background-color: rgba(63, 74, 83, 0.0431372549);
}

.map {
  width: 100%;
  height: 500px;
  background: url(assets/images/map@2x.jpg) no-repeat;
  background-size: cover;
}
@media screen and (max-width: 64rem) {
  .map {
    height: 200px;
    margin-top: -3rem;
  }
}

.hero {
  display: grid;
  grid-template-columns: var(--grid-container);
  background: url(assets/images/hero-bg@2x.jpg);
  background-size: cover;
  min-height: 100vh;
  background-size: cover;
}
.hero__inner {
  grid-column: inner;
  display: flex;
  align-items: center;
  position: relative;
}
.hero__main {
  padding-top: 132px;
}
.hero__content {
  max-width: 80rem;
  width: 100%;
  color: var(--color-light);
  margin-top: -5rem;
}
@media screen and (max-width: 28rem) {
  .hero__content {
    margin-top: -6rem;
  }
}
.hero__buttons {
  display: flex;
  gap: var(--gap-xs);
}
.hero__button {
  color: var(--color-light);
  margin-top: -2rem;
}
.hero__button--book {
  background-color: var(--color-accent);
  color: var(--color-light);
  padding: 1rem 1.5rem;
  transform: skew(-10deg);
  border: 2px solid transparent;
  font-size: var(--font-size-4);
  font-weight: 400;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.hero__button--book:hover {
  background-color: transparent;
  color: var(--color-light);
  border: 2px solid var(--color-light);
  transition: all 0.3s;
}
@media screen and (max-width: 53rem) {
  .hero__button--book {
    font-size: var(--font-size-3);
    margin-top: 0;
  }
}
@media screen and (max-width: 28rem) {
  .hero__button--book {
    font-size: var(--font-size-2);
  }
}
.hero__button--member {
  background-color: var(--color-accent-200);
  color: var(--color-light);
  padding: 1rem 1.5rem;
  transform: skew(-10deg);
  border: 2px solid transparent;
  font-size: var(--font-size-4);
  font-weight: 400;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.hero__button--member:hover {
  background-color: transparent;
  color: var(--color-light);
  border: 2px solid var(--color-light);
  transition: all 0.3s;
}
@media screen and (max-width: 53rem) {
  .hero__button--member {
    font-size: var(--font-size-3);
    margin-top: 0;
  }
}
@media screen and (max-width: 28rem) {
  .hero__button--member {
    font-size: var(--font-size-2);
  }
}
.hero__readmore {
  max-width: 200px;
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 2rem;
  left: 0;
  gap: var(--gap-xs);
}
.hero__readmore h5 {
  color: var(--color-light);
}
.hero__readmore--button {
  font-style: normal;
}
.hero__readmore--button:hover {
  color: var(--color-accent-300);
  transition: all 0.3s;
}
.hero__socials {
  max-width: 200px;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: end;
  bottom: 2rem;
  right: 0;
  gap: var(--gap-xs);
}
.hero__social-f:hover, .hero__social-i:hover {
  opacity: 0.3;
  transition: all 0.3s;
}

/*# sourceMappingURL=style.css.map */
